.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.formIcon {
  filter: invert();
}
#envelope {
  width: 40px;
  margin: 0 5px;
}
#key {
  width: 100px;
}
.ForgotPassword {
  width: 450px;
  height: auto;
  background: var(--imperial-white);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}
.keyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: var(--imperial-cyan);
  border-radius: 50%;
  margin: 15px auto;
}
.phraseContainer {
  margin: 20px;
}
.phraseContainer p {
  font-size: 14px;
  text-align: left;
  margin: 15px 0px;
}
.envelopeContainer {
  display: flex;
  align-items: center;
  background: var(--imperial-grey);
  justify-content: space-between;
  margin: 0 15px;
}
#emailInput {
  width: 100%;
}
