#PreloaderContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    z-index: 15;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #6BB5D0 2.92%, #37EABB 100%);
}
.preloaderHero, .preloaderPhrase{
    font-weight: bolder;
    color: white;
    text-align: center;
}
.preloaderHero{
    font-size: 30px;
}
.preloaderPhrase{
    font-size: 18px;
}
#preloaderContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 290px;
}
#spiningArrows{
    display: flex;
    margin: 25px auto;
    width: 40px;
    height: 40px;
}